<div class="col-md-6">
	<div class="card__machine-project">
		{{/* Comment: When DISCONTINU or FEATURE-COMPLETE */}}
		{{ $status := .status }} <!-- 从参数中获取状态 -->
		{{ if or (eq $status 0) (eq $status 2) }}
			<div class="title inactive">
				<span class="dot inactive" aria-hidden="true"></span>
				<span>{{ .title }}</span>
			</div>
			<div class="status inactive">
				<span class="label">{{ i18n "status" }}:</span>
				{{ if eq $status 0 }}
					<span class="text">{{ i18n "discontinued" }}</span>
				{{ else }}
					<span class="text">{{ i18n "feature_complete" }}</span>
				{{ end }}
			</div>
		{{ else }}
			<div class="title active">
				<span class="dot active" aria-hidden="true"></span>
				<span>{{ .title }}</span>
			</div>
			<div class="status active">
				<span class="label">{{ i18n "status" }}:</span>
				<span class="text">{{ i18n "active" }}</span>
			</div>
		{{ end }}
		<hr aria-hidden="true">
		<div class="summary">
			<p>{{ i18n "description" }}: <span>{{ .description }}</span></p>
			<p>
				{{ i18n "languages" }}:
				<span>
					{{- $comma := "" -}}
					{{- range .languages -}}
					    {{ $comma }} {{ . }}
					    {{- $comma = "," -}}
					{{- end }}
				</span>
			</p>
		</div>
		<hr aria-hidden="true">
		<div class="links">
			<a href="{{ .url }}" aria-label="{{ .title }} Website">{{ i18n "website" }}</a>
			&middot;
			<a href="{{ .source }}" aria-label="{{ .title }} Source Code">{{ i18n "source_code" }}</a>
		</div>
	</div>
</div>