<div class="title">
	<div class="logo" role="presentation">
		<img src="/img/logo_32.png" height="18px" width="18px" alt="" draggable="false">
		<span class="separator" aria-hidden="true">///</span>
	</div>
	<div class="name">
		{{ if eq .Layout "posts" }}
			{{ upper .Site.Params.blog_meta.title }}
		{{ else }}
			{{ upper .Site.Params.title }}
		{{ end }}
	</div>
</div>
<!-- <p>Layout: {{ .Layout }} </p> -->
{{ if not  .IsHome }}
	{{ partial "breadcrumbs.html" . }}
{{ else }}
<div class="lang-switches">
    {{- if (not site.Params.disableLangToggle) }}
        {{- $currentLang := .Lang }}
        {{- $validTranslations := where site.Home.Translations "Lang" "ne" $currentLang }}
        {{- with $validTranslations }}
            <ul class="lang-menu">
                {{- range . -}}
                <li>
                    <a href="{{- .Permalink -}}" 
                       title="{{ .Language.Params.languageAltTitle | default .Lang | title }}"
                       aria-label="{{ .Language.Params.languageAltTitle | default .Lang | title }}">
                        {{- .Language.Params.languageAltTitle | default (.Lang | title) -}}
                    </a>
                </li>
                {{- end}}
            </ul>
        {{- end }}
    {{- end }}
</div>
{{ end }}
